<h3 class="center">Current Filter: <%= "\"#{@key}\"" %></h3>
<% @tags.each do |tag| %>
  <% tag.bookmarks.each do |bookmark| %>
    <%= render 'shared/bookmarks_list', bookmark: bookmark %>
  <% end %>
<% end %>
