.center
  %h1 About me
  %p
    Hey! How are you doing? My name is 
    %a{ :href => 'https://github.com/felipedaraujo' } Felipe de Araujo 
    and it's my pleasure introduce my work to you. 
  
  %p
    If you want to see what I have been done in these days, you may take a look in the 
    %a{ :href => 'https://github.com/felipedaraujo/alpha-bookmarking' } 
      repository of this application 
    and others.
