.center.jumbotron
  %h1 Welcome to the Alpha Bookmarking
  %p.lead Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
  %p= link_to "Start Here!", bookmarks_path, class: "btn btn-lg btn-success", role: "button"
