%header.navbar.navbar-fixed-top.navbar-inverse{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{:type => "button", :data => {:toggle => "collapse", :target => ".navbar-collapse"}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    
      = link_to "Alpha Bookmarking", root_path , class: "navbar-brand"
    
    %div.navbar-collapse.collapse
      - unless current_page?(root_path)
        %form#searchForm.navbar-form.navbar-right{:role => "form"}
          .form-group
            %input#searchInput.form-control{:type => "text", :placeholder => "links, titles, or #tags..."}
            %button#searchBtn.btn.btn-success{:type => "submit"}
              %span.glyphicon.glyphicon-search Search
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "My Links", bookmarks_path
          %li= link_to "+ Add Link", new_bookmark_path
    

